<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página principal</h1>

<form action="/products/create" method="post">
    <input type="text" name="nome" placeholder="Digite o nome">
    <input type="number" name="qtd" placeholder="Digite o qtd">
    <input type="number" name="price" placeholder="Digite o price">
    <button>Cadastrar</button>
</form>
</body>
</html>